NODE_ENV=development
PORT=3000

# Configuration for the backend service
BE_HTTP_URL=http://localhost:3000
BE_GRPC_URL=http://localhost:5000

# Enable or disable GraphQL Playground
GRAPHQL_PLAYGROUND_ENABLED=true

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=zaqwsxcdeRFVvFrTgb
REDIS_DB=1
REDIS_KEY_PREFIX='user_bff_socket_service:'

# JWT secret, JWT_EXPIRATION calculated in seconds
JWT_SECRET=zaqwsxcdeRFVvFrTgb
